/* Import Google fonts from Google site for use in my website */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Barlow:wght@200;400&family=Comfortaa&family=Open+Sans&display=swap');

:root {
    /* Color Palette */
    --primary-color: #ffffff;
    --secondary-color: #c2c2c3;
    --accent1-color: #79797c;
    --accent2-color: #27272b;

  
    /* Chosen fonts */
    --heading-font: "Bad Script", Arial, sans-serif;
    --paragraph-font: Comfortaa, Helvetica, sans-serif;
    --other-font: Barlow, Arial, sans-serif;
  
    /* Chosen from palette colors */
    --headline-color-on-white: #c2c2c3;  /* headlines on a white background */ 
    --headline-color-on-color: #ffffff; /* headlines on a colored background */ 
    --paragraph-color-on-white: #27272b; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
    --paragraph-background-color: #79797c;
    --nav-link-color: #c2c2c3;
    --nav-background-color: #27272b;
    --nav-hover-link-color: #27272b;
    --nav-hover-background-color: #c2c2c3;
}

/* Set the rules for the body section... */
html, body {
    max-width: 1200px;
    height: 100%;
    margin: 5px auto;
    padding: 0 2rem;
    font-size: 24px;
    text-align: center;
    background-color: var(--paragraph-color-on-color);
  }
  /* Set the rules for the header section... */
.header-section {
    /* background: url(..//images/rm-homepage.png) no-repeat center #eee; */
    height: 100%;
    border-radius: 10px;
    outline: 2px solid var(--accent2-color);
    
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px auto 100px;
}
.header-bg-image {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.head-logo {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    border-radius: 50%;
}
.header-logo {
    height: 120px;
    width: 120px;
    margin: 15px 0 0 15px;

    text-align: center;

    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.header-top {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    width: 100%;
    height: 80%;

    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.4);
    color: var(--headline-color-on-color);

    margin-top: 50px;
    padding-top: 1em;
    padding-bottom: 0;
}
.header-top > ul {
    padding: 0;
    margin-top: 5rem;
    line-height: 50px;
    font-size: 45px;
    list-style-type: none;
}
.header-bottom {
    grid-area: 3 / 1 / span 1 / span 3;

    display: flex;
    flex-direction: row;
    font-family: "Comfortaa";
    font-size: 20px;
}
.header-bottom1 {
    flex: 2;
    padding-top: 40px;
    border-radius: 0 0 0 10px;
}
.header-bottom2 {
    flex: 1;
    padding-top: 40px;
    border-radius: 0 0 10px 0; 
}
.header-bottom1 > .a1,
.header-bottom1 > .a2,
.header-bottom1 > .a3 {
    font-size: 20px;
}
.header-bottom1, .header-bottom2 {
    background-color: rgba(0, 0, 0, 0.498);
}
.header-bottom1 > a, .header-bottom2 > a {
    color: var(--headline-color-on-white);
    padding: 0 20px;
    outline: 2px solid var(--accent1-color);
    background-color: var(--nav-background-color);
    opacity: 0.7;
    border-radius: 10px;
    text-decoration: none;
}
.header-bottom1 > a:hover, .header-bottom2 > a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--accent1-color);
}
/* Set the rules for the main section... */

.home-main {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;
    
    display: grid;
    grid-template-columns: 10px auto 10px;
}

#home-section {
    grid-column: 1 / span 3;
    height: 100%;
   
    border-radius: 10px;


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr;
    column-gap: 5px;
}

.top-section {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    outline: 2px solid var(--accent2-color);
    border-radius: 10px;
    margin-bottom: 10px;
    max-height: max-content;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}
.bottom-section {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    
    border-radius: 10px;
    margin-bottom: -5px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.purpose-div {
    background-color: var(--accent1-color);
    border-radius: 10px;
   
}
.vertical-div {
    grid-column: 2 / span 1;
    height:auto;
    width: 15px;
    outline: 2px solid var(--accent2-color);
    border-radius: 10px;
    background-color: var(--accent1-color);
    width: 5px;
    margin: 5px
}
.horizontal3 {
    grid-column: 1 / span 3;
    outline: 2px solid var(--accent2-color);
    border-radius: 10px;
    background-color: var(--accent1-color);
    width: 100%;
    height: 5px;
    margin-top: 15px;
}
.audience-div  {
    background-color:var(--accent1-color);
    border-radius: 10px;
}
.audience-div, .purpose-div {
    font-family: "Bad Script";
    font-size: smaller;
    text-align: left;
    padding: 0 10px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}
.purpose-div > h3, .audience-div > h3, .top-section > h2 {
    text-decoration: underline;
    font-family: "Comfortaa";
}
.purpose-div > p, .audience-div > p, .top-section > p {
    font-family: "Barlow";
}
.top-section > p {
    font-size: small;
}
.main-image {
   grid-area: 1/1/5/5;
    outline: 2px solid var(--accent2-color);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-top: 15px;

    object-fit:fill;
}
.insert-image {
   grid-area: 4/4/5/5;
    width: 92%;
    height: 30vh;
    border-radius: 10px;
    margin-right: 10px;
}
.below-section {
    grid-column: 1 / span 3;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}
.horizontal1, .horizontal2 {
    position: relative;
    border-radius: 4px;
    height: 5px;
    background: var(--accent2-color);
    margin-bottom: 10px;
}
/* Set rules for the main section of the 1st child page */
#sw-dev {
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    background-color:#444;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    z-index: -1;

}
.north-west {
    z-index: 2;
    grid-column: 1 / 3;
    grid-row: 1 / 7;

    margin: 5px 0 0 5px;
    
}

.west-top {
    flex: 3;

    background: url(..//images/rm-softdev.png);
    background-size: cover;
}
.west-bottom {
    flex: 2;
    background-color: var(--accent2-color);
    color: var(--headline-color-on-color);
    font-family: 'Comfortaa';
    font-size: 24px;
}
.west-bottom > .p1 {
    text-decoration: underline var(--accent1-color);
}
.west-bottom > .p3 {
    text-align: right;
    font-size: smaller;
    padding-right: 6px;
}
.three-boxes {
    grid-column: 3 / 6;
    grid-row: 1 / 9;
    height: inherit;
    margin: 5px;
    z-index: 2;
}
.south-image {
    grid-column: 1 / 6;
    grid-row: 7 / 10;

    height: 350px;
    background: url(..//images/rm-softdev2.png);
    background-size: cover;
    z-index: 1;
    text-align: left;
    margin: 5px;
}
.south-image > p {
    background: rgba(rgba(0, 0, 0));
    color: var(--headline-color-on-color);
    margin: 5px 6rem;
}
.south-image > .p2 {
    margin-left: 151px;
}
.west-top > p {
    border-radius: 5px;
    color: white;
    margin-left: 6rem;
}
.top , .east {
    display: flex;
    flex-direction: column;
    gap: 5px
}
.box {
    flex: 1;
    display: flex;
    border-radius: 5px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    outline: 2px solid #27272b;
}
.box > h5 {
    flex: 1;
    place-self: center;
    font-size: 24px;
   
}
.box > p {
    flex: 3;
    place-self: center;
    font-size: 18px;
    text-align: left;
    padding-right: 3px;
}

.west-top:nth-child(1) {
    border-radius: 5px;
}
/* Set the rules for the footer section... */
#main-footer {
    width: 100%;
    height: 50%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 3fr;

    border-radius: 15px;
    outline: 2px solid var(--accent2-color);
    background-color: var(--headline-color-on-white);
}
.footer-nav {
    grid-column: 1/6;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: space-around ;

    display: flex;
    flex-direction: row;
}
.footer-nav > a {
    padding-top: 5px;

    background-color: var(--accent2-color);
    outline: 2px solid var(--accent1-color);
    color: var(--accent1-color);
    
    height: 25px;
    width:300px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;

    font-family: "Comfortaa";
    font-size: 18px;
    opacity: 0.9;
    border-radius: 7px;
    text-decoration: none;
}
.footer-nav > a:hover {
    background-color: var(--accent1-color);
    outline: 2px solid var(--accent2-color);
    color: var(--accent2-color);

    opacity: 0.5;
    border-radius: 7px;
}
.footer-div {
    grid-column: 1/6;
    grid-row: 2/4;
    background-color: var(--accent1-color);
    padding: 5px;
    border-radius: 0 0 15px 15px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr 1fr;
}
.footer-div1 {
    grid-column: 1/4;
    grid-row: 1/4;

    height: auto;
    background-color: var(--accent2-color);
    margin: 10px;
    border: 2px solid var(--accent1-color);
    border-radius: 15px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-div1 > img {
    grid-column: 1/2;

    align-self: center;
    margin-left: 15px;

    width: 80px;
    height: 80px;
}
.footer-div1 > h4 {
    width: max-content;
    height: max-content;
    align-self: center;
    margin-left: -110px;
    padding: 70px 70px 9px 0;
    grid-column: 2/4;

    font-family: "Comfortaa";
    color: var(--accent1-color);
}
.footer-div2 {
    grid-column: 4/6;
    grid-row: 1/4;

    height: auto;
    background-color: var(--accent2-color);
    margin: 12px;
    outline: 2px solid var(--accent1-color);
    border-radius: 15px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.div2-child1 {
    grid-column: 1/4;
    grid-row: 1/3;

    text-align: start;
    font-size: 100px;
    font-weight: 950;
    color: var(--accent1-color);
    margin-top: -2px;
    margin-left: 24px;
}
.div2-child1:hover {
    grid-column: 1/4;
    grid-row: 1/3;

    text-align: start;
    font-size: 70px;
    font-weight: 950;
    color: var(--headline-color-on-color);
    margin-top: -2px;
    margin-left: 17px;
}
.div2-child1::after {
    content: "contact";
    display: inline-block;

    transform: rotate(90deg);

    font-size: 15px;

    padding-left: 0;
    padding-right: 29px;
    margin-left: -42px;
}
.div2-child2 {
    width: 100%;

    grid-column: 1/4;
    grid-row: 3/6;
    column-gap: s;

    display: grid;
    grid-template-columns: auto auto auto;
}
.div2-child2 > a {
    align-self: center;
    justify-self: center;
    
    width: 50px;
    margin: 0;

    height: 70px;
    font-size: 13px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    text-decoration: none;

    border-radius: 10px;
    outline: 2px solid var(--accent2-color);

}
.div2-child2 > a > img {
    padding-top: -20px;
    width: 30px;
    border-radius: 7px;

}
.div2-child2 > a:hover {
    background-color: var(--accent2-color);
    outline: 2px solid var(--headline-color-on-color);
    color: var(--accent1-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.div2-child2 > a > img:hover { order: 2;}
.div2-child2 > a > p:hover { order: 1;}

