#content{
    display: grid;
    background-color: #6f6d92;
}
.header-hero{
    display: flex;
    flex-direction: column;
}
.page2-header {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.hero-items {
    flex: 1;
    margin-top: 0px;
    width: 100%;
    text-align: center;
}
.logo {
    width: 80px;
}
#logo_link {
    flex: 1;
    order: 1;
    text-align: center;
}
.header-nav {
    flex: 6;
    order: 2;
    display: flex;
    flex-direction: row;
}

a.a1{ 
    flex: 1; 
    order: 1;
    color: white;
    margin: auto;
    width: 70%;
    padding: 30px 30px;
    text-align: center;
    text-decoration:none;

}
a.a2{ 
    flex: 1; 
    order: 2;
    color: white;
    margin: auto;
    width: 70%;
    padding: 30px 30px;
    text-align: center;
    text-decoration:none;
}
a.a3{ 
    flex: 1; 
    order: 3;
    color: white;
    margin: auto;
    width: 100%;
    padding: 30px 30px;
    text-align: center;
    text-decoration:none;
}
.a3:hover, .a2:hover, .a1:hover {
    background-color: rgba(7, 35, 53, 0.982);
    color: rgb(235, 13, 13);
}

#hero-img {
    width: 100%;
}
#hero-msg {


}

.main-body {
    display: flex;
    flex-direction: column;
}
.main-section1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 400px;
}
.main-section2{
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 400px;
}
.main-section3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 400px;
}
.div1 {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(1fr, 4);
}
.div2 {
    flex: 1;
    order: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(1fr, 4);
}
.div3 {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(1fr, 4);
}
.within-section1, .within-section3{
    background-color: rgba(111, 109, 146, 0.5);
    color: white;
    grid-column: 1/3;
    grid-row: 4/5;
    z-index: 1;
    justify-self: center;
    padding: 5px 5px 5px 5px;
}
.within-section2{
    background-color: rgba(111, 109, 146, 0.5);
    color: white;
    grid-column: 1/3;
    grid-row: 4/5;
    z-index: 1;
    justify-self: center;
    padding: 5px 5px 5px 5px;
}

#fork, #grand  {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    grid-column: 1/3;
    grid-row: 1/5;
    margin-left: 10px;
    margin-right: 0;
}
#desolation {
    height: 100%;
    width: 97%;
    border-radius: 7px;
    grid-column: 1/3;
    grid-row: 1/5;
    margin-right: 10px;
}

.p1, .p3 {
    flex: 2;
    color: black;
    font-weight:bold;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    justify-items: center;
    align-self: center;
    margin-left: 20px;
    margin-right: 10px;
}
.p2 {
    flex: 2;
    order: -1;
    color: black;
    font-weight:bold;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    justify-items: center;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
}

.page2-footer {
display: flex;
}
.footer-nav {
display: flex;
flex: 2;
justify-content: space-around;

}
.social {
display: flex;
flex: 1;
justify-content: space-around;
align-self: center;

}
@media (min-width: 750px){
.page2-footer > .footer-nav, .page2-footer > .social{
    display: flex;
    align-items: space-around;
}
}