
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Barlow:wght@200;400&family=Comfortaa&family=Open+Sans&display=swap');

#content {
    margin: 0 auto;
    max-width: 1600px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
nav a {
    text-align: center;
    color: #e2e2df;
    text-decoration:none;
    padding: 35px;
}
nav a:hover {
    background-color: #1b263b;
    color: azure;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #1b263b;
}
body {
    background-color: #34345b;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(119, 141, 169, 0.4);
}

.book, .join {
    background-color:#34345b;
    color: rgba(126, 130, 115, 1);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book{
    background-color: #1b263b;
}
.msg {
    background-color: #1b263b;
    text-align: center;
    color: #e2e2df;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #778da9;
    color: rgba(126, 130, 115, 1);
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color:#1b263b;
    text-decoration: none;
}
footer a:hover {
    color: azure;
}
footer p {
    color: #1b263b;
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
.book:hover, .join:hover {
    background-color:#778da9;
    color: azure;
}
.home-title {
    color: rgba(126, 130, 115, 1);
    font-family: Comfortaa, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: rgba(126, 130, 115, 1);
}
.msg h2 {
    color: rgba(126, 130, 115, 1);
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
}
.msg p {
    color: rgba(126, 130, 115, 1);
    font-size: 0.8em;
    padding-bottom: 15px;
}
.card-img{
    border: 10px solid black;
}
h2{
    margin: 0;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#logo_link{
    padding-top: 5px;
}
.logo{
    width: 80px;
}
.rivers-card, .rapids-card, .camping-card {
    text-align: center;
    margin: 200px 0;
}
section h2 {
    color: rgba(126, 130, 115, 1);
}
section, .msg, #background, .mountains{
    margin-top: 35px;
    margin-bottom: 35px;
}